<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>A Landing Page</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
		<script type="text/javascript" src="{{ (url_for('static', filename='js/script.js')) }}"></script>
	</head>
	<body>
		<h1>New to the Dojo?</h1>
		<form action="" method="post">
			Name: <input type="text" name="name" />
			Email: <input type="text" name="email" />
			Goals: <input type="textarea" name="goals" />
			<input type="submit" value="Submit!"/>

		</form>



	</body>

</html>
